

.intro {
    padding: 10px;
}

.mainbody {
    padding: 10px;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(55 63 81);
    padding: 10px 10px 10px 20px;
}

h1 {
    font-family: oldlondon, 'Times New Roman', Times, serif;
    color: rgb(1 33 105);
    margin: 0px 10px 0px 0px;
    font-size: xx-large;
    text-align: center;
}

h2 {
    color: rgb(200 16 46);
    margin: 20px 5px 5px 0px;
}

p {
    margin: 4px 5px 0px 0px;
}

a:link {
    color: blue;
    text-decoration: none;
    margin: 4px 5px 0px 0px;
}

a:hover {
    color: magenta;
    text-decoration: underline;
}

a:visited {
    color: purple;
}

ul {
    margin: 5px 0px 15px 20px;
}

img {
    margin-top: 10px;
}